.title-box {
    background: #f5f7f9;
    display: flex;
    padding: 15px;
}

/* __name */
.title-box__name {
    color: #4d5d69;
    font-size: 16px;
    letter-spacing: 0.5px;
    margin-left: 10px;
    /*padding-top: 2px;*/
}

/* __icon */
.title-box__icon {
    color: #1788f6;
    font-size: 21px;
}

/* __actions */
.title-box__actions {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    margin-left: 30px;
}

.title-box__icon.fa-bullhorn + .title-box__name {
    padding-top: 5px;
}