.camp-row {
    color: #454e56;
    display: flex;
    font-size: 13px;
    letter-spacing: 0.2px;
}

.camp-row > * {
    margin: 0 8px;
}
@media (min-width: 992px) {
    .camp-row > * {
        margin: 0 15px;
    }
}

/* --even */
.camp-row--even {
    background: #ffffff;
}

/* --odd */
.camp-row--odd {
    background: #fafbfc;
}

/* --header */
.camp-row--header {
    background: #f5f7f9;
    color: #8b9aa6;
    font-size: 10px;
    text-transform: uppercase;
}

/* __status */
.camp-row__status {
    display: none;
    flex-basis: 35px;
    margin-left: 0;
}
@media (min-width: 576px) {
    .camp-row__status {
        display: flex;
    }
}

/* __name */
.camp-row__name {
    flex-basis: 0;
    flex-grow: 1;
}
@media (max-width: 575px) {
    .camp-row__name {
        margin: 0;
    }
}

/* __impressions */
.camp-row__impressions {
    flex-basis: 80px;
    display: none;
}
@media (min-width: 768px) {
    .camp-row__impressions {
        display: flex;
    }
}

/* __clicks */
.camp-row__clicks {
    flex-basis: 55px;
    display: none;
}
@media (min-width: 992px) {
    .camp-row__clicks {
        display: flex;
    }
}

/* __spend */
.camp-row__spend {
    flex-basis: 55px;
    display: none;
}
@media (min-width: 1200px) {
    .camp-row__spend {
        display: flex;
    }
}

/* __revenue */
.camp-row__revenue {
    flex-basis: 65px;
    display: none;
}
@media (min-width: 1200px) {
    .camp-row__revenue {
        display: flex;
    }
}

/* __roi */
.camp-row__roi {
    flex-basis: 45px;
    display: none;
}
@media (min-width: 992px) {
    .camp-row__roi {
        display: flex;
    }
}

/* __profit */
.camp-row__profit {
    flex-basis: 55px;
    display: none;
}
@media (min-width: 992px) {
    .camp-row__profit {
        display: flex;
    }
}

.camp-row--loss .camp-row__profit {
    color: #bac4cb;
}
.camp-row--loss .camp-row__profit {
    color: #f35973;
}
.camp-row--gain .camp-row__profit {
    color: #23d978;
}

/* __daily-spend */
.camp-row__daily-spend {
    flex-basis: 75px;
    display: none;
}
@media (min-width: 768px) {
    .camp-row__daily-spend {
        display: flex;
    }
}
.camp-row--ok-spend .camp-row__daily-spend {
    color: #23d978;
}
.camp-row--warning-spend .camp-row__daily-spend {
    color: #fbbb00;
}
.camp-row--danger-spend .camp-row__daily-spend {
    color: #f35973;
}

/* __actions */
.camp-row__actions {
    display: none;
    flex-basis: 100px;
    justify-content: space-between;
    margin-right: 0;
}
@media (min-width: 576px) {
    .camp-row__actions {
        display: flex;
    }
}

/* .camp-btn */
.camp-row .camp-btn {
    opacity: 0;
    visibility: hidden;
    transition: .25s all ease;
}

.camp-row:hover .camp-btn {
    opacity: 1;
    visibility: visible;
}