.list-group-item {
    border: 2px solid #ecf1f4;
    margin-bottom: -2px;
}

.list-group-item:first-child {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.list-group-item:last-child {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

/* .title-box */
.list-group-item.title-box {
    padding: 25px 15px 25px 28px;
}

/* .camp-row */
.list-group-item.camp-row {
    padding: 15px 15px 15px 28px;
}

.list-group-item.camp-row--header {
    padding: 20px 15px 20px 28px;
}

/* .chart */
.list-group-item.chart {
    display: block;
    padding: 40px 40px 40px 30px;
}


