@media (min-width: 1200px) {
    .section__content {
        padding: 0;
        width: 1230px;
    }
}

/* --top */
.section--top {
    background: #4D5D69;
}

.section--top .section__content {
    padding: 32px 0 130px;
}

/* --main */
.section--main {
    position: relative;
}

.section--main .section__content {
    background: #FFFFFF;
    border-radius: 3px;
    box-shadow: 0 5px 18px 0 rgba(75,84,94,0.1), 0 2px 4px 0 rgba(75,84,94,0.1); /* #4B545E */
    float: left;
    left: 50%;
    min-height: 240px;
    padding: 30px 20px;
    transform: translate(-50%, -130px);
}
@media (min-width: 768px) {
    .section--main .section__content {
        padding: 45px 30px;
    }
}
@media (min-width: 992px) {
    .section--main .section__content {
        padding: 60px;
    }
}
